<strong>Olá, {{ host }}</strong>
<p>Um usuário se inscreveu no seu Meetup {{ meetupTitle }} do dia {{ meetupDate }}, confira os detalhes abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ userName }} <br />
  <strong>Email: </strong> {{ userEmail }}
</p>
